body {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: #008303;
}
a, h1, h2 { color: #00008F; }
.heading {
    font-weight: bold;
}
.page {
    margin:.1em auto;
    padding:.1em;
    width: 504px;
}
