body {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: #008303;
}
a, h1, h2 { color: #00008F; }
.heading {
    font-weight: bold;
}
.page {
    margin:.1em auto;
    padding:.1em;
    width: 504px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: center;
  margin-top: 20px;
}

.gif-container, .tree-container {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.gif-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tree-container h3 {
  text-align: left;
}

.gif-container p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.gif-size {
  max-width: 500px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-switch-container {
  flex-basis: 50%;
  text-align: left;
}

.flag-switch-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons {
  flex-basis: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.flag-switch {
  position: relative;
  width: 60px;
  height: 34px;

}

.flag-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flag-switch-container p {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0776b7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0776b7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#help-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
}

.hidden {
  display: none;
}
