<!-- index.html -->
{% extends "layout.html" %}
{% block content %}
<h2>X-Bar Practice</h2>

<!-- The generated sentence -->
<div class="sentence">
  <h3>Sentence:</h3>
  <p>{{ sentence }}</p>
</div>

<!-- Div for the GIF -->
<div class="gif-container">
  <img src="{{ related_gif_url }}" alt="A related GIF" onclick="revealTree()" style="cursor:pointer;">
  <p>(Potentially related gif powered by Giphy)</p>
</div>

<!-- Div for the syntax tree, initially hidden -->
<div class="tree-container" style="display:none;">
  <h3>Tree:</h3>
  <img src="{{ tree_image_path }}" alt="Syntax Tree">
</div>

<!-- Buttons -->
<div class="buttons" style="display:none;">
  <!-- <button onclick="revealTree();">Reveal Tree</button> -->
  <button onclick="location.reload();">Refresh</button>
</div>

<script>
  // Show the syntax tree
  function revealTree() {
      const gifContainer = document.querySelector('.gif-container');
      const treeContainer = document.querySelector('.tree-container');
      const buttonContainer = document.querySelector('.buttons');
      gifContainer.style.display = 'none';
      treeContainer.style.display = 'block';
      buttonContainer.style.display = 'block';
  }
</script>

{% endblock %}
